# Ignorer tous les répertoires __pycache__
__pycache__/

# Ignorer tous les fichiers compilés Python
*.pyc
*.pyo
*.pyd

# Ignorer l'environnement virtuel
.conda

# Ignorer le fichier d'environnement
.env