requests
pandas
beautifulsoup4
fake-useragent
geopy
streamlit
SQLAlchemy
nltk
scikit-learn
matplotlib
seaborn
plotly
wordcloud
textblob
databases
python-dateutil
litellm
jiter
pydantic
pydantic-core
sentence-transformers
pydeck
PyMuPDF
openai
ecologits
numpy
tqdm