litellm==1.55.12
requests
pandas
beautifulsoup4
geopy
streamlit
SQLAlchemy
nltk
scikit-learn
matplotlib
seaborn
plotly
wordcloud
textblob
databases
python-dateutil
jiter
pydantic-core
sentence-transformers
pydeck
ecologits
numpy
tqdm
rapidfuzz
tensorflow
umap
tf-keras